{% extends "layout.html" %}

{% block page_title %}
  GOV.UK prototype kit
{% endblock %}

{% block content %}

<main id="content" role="main">
    <div class="phase-banner">
        <p>
            <strong class="phase-tag">ALPHA</strong>
            <span>This is a new service – your <a href="#">feedback</a> will help us to improve it.</span>
        </p>
    </div>
    <div class="grid-row">
        <div class="column-full red-border">
            <h1 class="heading-xlarge">Two</h1>
        </div>
    </div>
    <div class="grid-row">
        <div class="column-two-thirds red-border">
            <h2 class="heading-large">More about two</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec posuere commodo ex. Etiam magna lectus, dapibus sed tortor quis, dignissim congue massa. Maecenas fringilla elit lacus, et suscipit risus dapibus in. Nam dui mi, condimentum eu laoreet sed, gravida nec nunc. Integer nibh turpis, sollicitudin sed dapibus at, hendrerit et nulla. Fusce arcu odio, lacinia nec pulvinar vel, suscipit nec lorem. Quisque vulputate auctor blandit. Etiam eleifend risus libero, ut consectetur eros condimentum non. Vestibulum euismod neque facilisis enim dignissim venenatis. In quis libero tellus. Nulla ac lectus turpis. Donec semper diam magna, ac dapibus tellus iaculis a.</p>
            <p>Mauris et dui vehicula, porttitor est id, mollis massa. Aenean magna purus, sagittis ut dignissim in, dignissim eu est. Suspendisse auctor odio non nisi congue, vel porta leo fermentum. Fusce porta eu dolor eu sollicitudin. Curabitur in leo enim. Aliquam erat volutpat. Maecenas vitae leo in lectus congue mollis quis sed mi. Proin feugiat lectus leo, vel vehicula tortor imperdiet sed.</p>
            <p>Aliquam ut varius nulla. In vitae quam vehicula risus eleifend molestie. Fusce porta condimentum sapien ut porta. Integer et diam tellus. Mauris a viverra elit, at egestas lacus. Sed non nisl in enim pellentesque rutrum in id arcu. Sed luctus tellus quis erat ultrices, vitae tempor nisl tincidunt. Maecenas eu metus erat. In dignissim tellus id lectus consequat vehicula. Suspendisse potenti. Sed eu lacus nulla.</p>
            <p>Mauris in diam in mauris convallis vehicula. Nam feugiat in mauris in vestibulum. Praesent pretium ex vel aliquet euismod. Maecenas id eros eu dui commodo gravida et vitae quam. Nam pretium nulla et malesuada lobortis. Aliquam nulla erat, sollicitudin eu eros eu, volutpat vulputate turpis. Phasellus blandit pulvinar nisl, in eleifend ipsum. Cras quis sagittis dui.</p>
            <p>Proin eu mi ipsum. Aliquam ex lorem, laoreet congue ultricies et, porta vitae enim. Nunc neque odio, convallis et feugiat sit amet, vulputate in dolor. Morbi rutrum mi urna, vel hendrerit quam convallis et. Proin facilisis lorem sit amet lacus viverra tempus. Duis sodales lacus luctus, consectetur nisl luctus, cursus arcu. Phasellus tempus viverra velit eu laoreet. Aenean mollis, nulla nec sodales accumsan, lectus nibh ullamcorper est, nec pulvinar felis massa quis leo.</p>
        </div>
        <div class="column-one-third red-border">
            <h3 class="heading-medium">A bulleted list</h3>
            <ul class="list list-bullet">
                <li>Two two two two...</li>
                <li>vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor</li>
                <li>vestibulum id ligula porta felis euismod semper</li>
                <li>integer posuere erat a ante venenatis dapibus posuere velit aliquet</li>
            </ul>
        </div>
    </div>
</main>

{% endblock %}


