{% extends "layout.html" %}

{% block page_title %}
  GOV.UK prototype kit
{% endblock %}

{% block content %}

<main id="content" role="main">
    <div class="phase-banner">
        <p>
            <strong class="phase-tag">ALPHA</strong>
            <span>This is a new service – your <a href="#">feedback</a> will help us to improve it.</span>
        </p>
    </div>
    <div class="grid-row">
        <div class="column-full red-border">
            <h1 class="heading-xlarge">Three</h1>
        </div>
    </div>
    <div class="grid-row">
        <div class="column-full red-border">
            <h2 class="heading-medium">Table one</h2>
            <table>
              <thead>
                <tr>
                  <th scope="col">Month you apply</th>
                  <th class="numeric" scope="col">Rate for vehicles</th>
                  <th class="numeric" scope="col">Rate for bicycles</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <th scope="row">January</th>
                  <td class="numeric">£165.00</td>
                  <td class="numeric">£85.00</td>
                </tr>
                <tr>
                  <th scope="row">February</th>
                  <td class="numeric">£165.00</td>
                  <td class="numeric">£85.00</td>
                </tr>
                <tr>
                  <th scope="row">March</th>
                  <td class="numeric">£151.25</td>
                  <td class="numeric">£77.90</td>
                </tr>
                <tr>
                  <th scope="row">April</th>
                  <td class="numeric">£136.10</td>
                  <td class="numeric">£70.10</td>
                </tr>
              </tbody>
            </table>
        </div>
    </div>
    <div class="grid-row">
        <div class="column-one-half red-border">
            <h2 class="heading-medium">Table two</h2>
            <table>
              <tbody>
                <tr>
                  <td>First 6 weeks</td>
                  <td>£109.80 per week</td>
                </tr>
                <tr>
                  <td>Next 33 weeks</td>
                  <td>£109.80 per week</td>
                </tr>
                <tr>
                  <td>Total estimated pay</td>
                  <td>£4,282.20</td>
                </tr>
                <tr>
                  <td>Tell the mother’s employer</td>
                  <td>28 days before they want to start maternity pay</td>
                </tr>
              </tbody>
            </table>
        </div>
        <div class="column-one-half red-border">
            <h2 class="heading-medium">Table three</h2>
            <table>
              <tbody>
                <tr>
                  <td>Next 33 weeks</td>
                  <td>£109.80 per week</td>
                </tr>

                <tr>
                  <td>Total estimated pay</td>
                  <td>£4,282.20</td>
                </tr>
                  <tr>
                  <td>Tell the mother’s employer</td>
                  <td>28 days before they want to start maternity pay</td>
                </tr>
                <tr>
                  <td>First 6 weeks</td>
                  <td>£109.80 per week</td>
                </tr>
              </tbody>
            </table>
        </div>
    </div>
</main>

{% endblock %}


