{% extends "layout.html" %}

{% block page_title %}
  GOV.UK prototype kit
{% endblock %}

{% block content %}

<main id="content" role="main">
    <div class="grid-row">
        <div class="column-full" style="border: 1px solid red">
            <p><h1 class="heading-xlarge">Four</h1></p>
        </div>
    </div>
    <div class="grid-row">
        <div class="column-two-thirds" style="border: 1px solid red">
            <p><h2 class="heading-large">More about four</h2></p>
            <div class="panel panel-border-wide">
                <p>It can take up to 8 weeks to register a lasting power of attorney if there are no mistakes in the application.</p>
            </div>
        </div>
        <div class="column-one-third" style="border: 1px solid red">
            <details>
                <summary><span class="summary">Help with four</span></summary>
                <div class="panel panel-border-narrow">
                    <p>If you’re not sure about your nationality, try to find out from an official document like a passport or national ID card.</p>
                    <p>We need to know your nationality so we can work out which elections you’re entitled to vote in. If you can’t provide your nationality, you’ll have to send copies of identity documents through the post.</p>
                </div>
            </details>
        </div>
    </div>
</main>

{% endblock %}


