{% extends "layout.html" %}

{% block page_title %}
  GOV.UK prototype kit
{% endblock %}

{% block content %}

<main id="content" role="main">
    <div class="phase-banner">
        <p>
            <strong class="phase-tag">ALPHA</strong>
            <span>This is a new service – your <a href="#">feedback</a> will help us to improve it.</span>
        </p>
    </div>
    <div class="grid-row">
        <div class="column-full red-border">
            <h1 class="heading-xlarge">Four</h1>
        </div>
    </div>

    <div class="grid-row">
        <div class="column-one-quarter red-border">
            <div class="data">
              <span class="data-item bold-xxlarge">01</span>
              <span class="data-item bold-xsmall">Data visulisation one</span>
            </div>
        </div>
        <div class="column-one-quarter red-border">
            <div class="data">
              <span class="data-item bold-xxlarge">02</span>
              <span class="data-item bold-xsmall">Data visulisation two</span>
            </div>
        </div>
        <div class="column-one-quarter red-border">
            <div class="data">
              <span class="data-item bold-xxlarge">03</span>
              <span class="data-item bold-xsmall">Data visulisation three</span>
            </div>
        </div>
        <div class="column-one-quarter red-border">
            <div class="data">
              <span class="data-item bold-xxlarge">04</span>
              <span class="data-item bold-xsmall">Data visulisation four</span>
            </div>
        </div>
    </div>
</main>

{% endblock %}


