{% extends "layout.html" %}

{% block page_title %}
  GOV.UK prototype kit
{% endblock %}

{% block content %}

<main id="content" role="main">
    <div class="phase-banner">
        <p>
            <strong class="phase-tag">ALPHA</strong>
            <span>This is a new service – your <a href="#">feedback</a> will help us to improve it.</span>
        </p>
    </div>
    <div class="grid-row">
        <div class="column-full red-border">
            <p><h1 class="heading-xlarge">One</h1></p>
        </div>
    </div>
    <div class="grid-row">
        <div class="column-two-thirds red-border">
            <h2 class="heading-large">More about one</h2>
            <p class="lede">A 24px lead paragraph, maecenas sed diam eget risus varius blandit sit amet non magna.</p>
            <p>A 19px body copy paragraph, maecenas sed diam eget risus varius blandit sit amet non magna. A 19px body copy paragraph, maecenas sed diam eget risus varius blandit sit amet non magna. A 19px body copy paragraph, maecenas sed diam eget risus varius blandit sit amet non magna. A 19px body copy paragraph, maecenas sed diam eget risus varius blandit sit amet non magna. A 19px body copy paragraph, maecenas sed diam eget risus varius blandit sit amet non magna.</p>
            <div class="column-one-third panel panel-border-wide font-xsmall red-border-2">
                <p>It can take up to 8 weeks to register a lasting power of attorney if there are no mistakes in the application.</p>
            </div>
            <p>A 19px body copy paragraph, maecenas sed diam eget risus varius blandit sit amet non magna.  A 19px body copy paragraph, maecenas sed diam eget risus varius blandit sit amet non magna. A 19px body copy paragraph, maecenas sed diam eget risus varius blandit sit amet non magna. A 19px body copy paragraph, maecenas sed diam eget risus varius blandit sit amet non magna. A 19px body copy paragraph, maecenas sed diam eget risus varius blandit sit amet non magna. A 19px body copy paragraph, maecenas sed diam eget risus varius blandit sit amet non magna. A 19px body copy paragraph, maecenas sed diam eget risus varius blandit sit amet non magna.</p>
        </div>
        <div class="column-one-third red-border">
                <h3 class="heading-medium">Heading text</h3>
                <details>
                <summary><span class="summary">Help with one</span></summary>
                <div class="panel panel-border-narrow">
                    <p>If you’re not sure about your nationality, try to find out from an official document like a passport or national ID card.</p>
                    <p>We need to know your nationality so we can work out which elections you’re entitled to vote in. If you can’t provide your nationality, you’ll have to send copies of identity documents through the post.</p>
                </div>
            </details>
        </div>
    </div>
</main>

{% endblock %}


