{% extends "layout.html" %}

{% block page_title %}
  GOV.UK prototype kit
{% endblock %}

{% block content %}

<main id="content" role="main">
    <div class="grid-row">
        <div class="column-full">
            <p><h1 class="heading-xlarge">Columnb full</h1></p>
        </div>
    </div>
    <div class="grid-row">
        <div class="column-two-thirds">
            <p><h2 class="heading-large">Column two thirds</h2></p>
        </div>
        <div class="column-one-third">
            <p><h2 class="heading-large">Column one third</h2></p>
        </div>
    </div>
</main>

{% endblock %}


